.header {
    background: rgb(115, 255, 216);
    width:100%;
    height:100px;
    border:3px solid;
    border-color: rgb(255, 255, 255);
    line-height: 100px;
}

.menu {
    background: rgb(255, 227, 200);
    width:100%;
    height:40px;
    border:3px solid;
    border-color: rgb(255, 255, 255);
    line-height: 40px;
}

.body {
    background: rgb(43, 191, 254);
    width:100%;
    min-height:600px; 
    border:3px solid;
    height:100px;
    overflow:hidden;
    border-color: rgb(255, 255, 255);
}

.sidebar {
    background: rgb(143, 188, 144);
    width:30%;
    min-height:600px;
    border:3px solid;
    float:left;
    margin:1%;
    border-color: rgb(255, 255, 255);
    line-height:600px;
}
.content {
    background: magenta;
    width:65%;
    min-height:600px;
    border:3px solid;
    float:left;
    margin:1%;
    border-color: rgb(255, 255, 255);
    line-height: 600px;
}

.footer {
    background: rgb(48, 206, 209);
    width:100%;
    height:50px;
    border:3px solid;
    border-color: rgb(255, 255, 255);
    line-height: 50px;
}
